.error{
    height: 100vh;
    width: 100vw;
    background-color: #222;
    box-sizing: border-box;
    margin:0;
    padding: 2% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.errorTitle{
    margin:0;
    padding: 0;
    color: white;
    font-size: 3rem;
}
.errorImg{
    height: 300px;
    width: 310px;
    border-radius: 50%;
    border-bottom:solid 2px rgba(197, 197, 197, 0.68);
    box-shadow: rgba(255, 255, 255, 0.66) 0px 22px 70px 4px;
}