.formContainer{
    display: flex;
    justify-content: center;
}
.form{
    display: flex;
    height: 40vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    border: 2px solid  #ccc;
    margin: 20px;
    padding: 20px;
    width: 30%;
}
.input{
    width: 80%;
}

.inputAge{
    width: 20%;
}

.inputCountry{
    width: 40%;
}

.inputSubmit{
    align-self: center;
}